
/* Some styling for the body */
body {
    font-family:Verdana,Geneva,sans-serif;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
    overflow: hidden;
}

#page, #main {
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#content,
#content #fragment-connection,
#content #fragment-data,
#content #fragment-tsdb,
#measurement-display,
#tsdb-display,
#tsdb-list  {
    text-align:left;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

.listName {
    margin:0px;
    padding:0px;
}

.list {
    height: 100%;
    overflow : scroll;
}

.list ul {
    list-style: none;
    border-bottom: 1px solid #d3d3d3;    
    text-align: left;
}

.list ul li {
    border: 1px;
    margin: 2px;
    padding: 5px;
    border-style: solid;
    text-align: left;
}

#deviceInfo {
    /* border-bottom: 1px solid #d3d3d3; */
    text-align: left;
    display: none;
}

.input {
    width: 100%;
    margin: 0px;
    padding: 3px;
    bottom: 0px; 
}

.buttons {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    bottom: 0px;
}

#graphSelection {
    width: 100%;
}

#graphContainer,
#tsdb-display {
    height: 300px;
    margin:0px;
    padding:0px;
    width: 300px;
}

#lineChart {
    height: 300px;
    margin:0px;
    padding:0px;
    width: 300px;
    display: none;
}

#myChart {
    height: 300px;
    margin:0px;
    padding:0px;
    width: 300px;
}

#appbar {
    background-color:#FFFFFF;
    margin: 0px 0px;
    height: 50px;
    border-bottom: 1px solid #d3d3d3;    
}

#state {
    color:#FFFFFF;
    font-size:16px;
    margin:0px 0px;
    padding:2px 0px;
    text-align:center;
}

#event {
    color:#FFFFFF;
    font-size:16px;
    margin:0px 0px;
    padding:2px 0px;
    text-align:center;
    visibility: hidden;
}

#state.loading, #event.loading  {
    border: 1px solid #dad55e;
	background: #fffa90;
	color: #363636;
}

#state.finished, #event.finished  {
    border: 1px solid #2e9827;
	background: #cbf6c8;
	color: #363636;
}

#state.failed, #event.failed {
    border: 1px solid #9b0107;
	background: #fa9295;
	color: #363636;
}

.highlight {
    color: #4B946A;
}

.greyout {
    background-color:#c0c0c0;
    color: #c0c0c0;
}

.fontHeadline {
    padding: 25px 0px 0px 25px;
}